/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");
*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background: #dfe9f5;
}
.container{
    display: flex;
}
.nav-sidebar{
    position: sticky; 
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    width: 95px;
    overflow: hidden;
    background: #000;
    transition: all 0.2s linear;
}


nav:hover{
    width: 280px;
    transition: 0.2s;
}

.logo{
    text-align: center;
    display: flex;
    justify-content: left;
    margin: 10px 0 0 10px;
    cursor: auto;
}
.logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}
a{
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 280px;
    padding: 10px;
}

.link-a{
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 280px;
    padding: 10px;
}

nav .fas, .fa-solid{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
    color: #fff;
}
.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
    color: #fff;
}
.op a:hover{
    background: #171219;
}
.logout{
    position: absolute;
    bottom: 0;
}

/* Main Section */
.main{
    position: relative;
    padding: 20px;
    width: 100%;
    background-color: #000;
    padding: 20px; 
}
.main-top{
    display: flex;
    justify-content: center;
    width: 100%;
    color: #fff; 
}
.main-top i{
    position: absolute;
    right: 0;
    margin: 10px 30px;
    color: rgb(110, 109, 109);
    cursor: pointer;
}
.main-skills{
    display: flex;
    margin-top: 20px;
}
.main-skills .card{
    width: 25%;
    margin: 10px;
    background: rgb(235, 233, 233); 
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.card{
    transition-property: transform;
    transition-duration: 300ms;
}

.card:hover{
    transform: scale(1.03);
}

.main-skills .card h3{
    margin: 10px;
    text-transform: capitalize;
}
.main-skills .card p{
    font-size: 12px;
}
.main-skills .card button{
    background: orangered;
    color: #fff;
    padding: 7px 15px;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
}
.main-skills .card button:hover{
    background: rgba(223, 70, 15, 0.856);
}
.main-skills .card i{
    font-size: 22px;
    padding: 10px;
}
/* Courses */
.nav-sidebar-responsive{
    display: none;
}
.main-course{
    margin-top:20px ;
    text-transform: capitalize;
}

.main-course h1{
    text-align: center;
    color: #fff;
}
.course-box{
    padding: 10px 10px 30px 10px;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.course-box ul{
    list-style: none;
    display: flex;
}
.course-box ul li{
    margin: 10px;
    color: gray;
    cursor: pointer;
}
.course-box ul .active{
    color: #000;
    border-bottom: 1px solid #000;
}
.course-box .course{
    display: flex;
}
.box{
    width: 33%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background: rgb(235, 233, 233);
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);  
    transition-property: transform;
    transition-duration: 300ms;
}
.box h3{
    width: fit-content;
}
.box:hover{
    transform: scale(1.03);
}
.box p{
    font-size: 12px;
    margin-top: 5px;
}
.box button{
    background: #000;
    color: #fff;
    padding: 7px 10px;
    border-radius: 10px;
    margin-top: 3rem;
    cursor: pointer;
}
.box .btn-edit{
    background: #6ab547; 
}
.box .btn-delete{
    margin-left: 1rem;
    background: #b61a1a;
}
.box i{
    font-size: 7rem;
    float: right;
    margin: -20px 20px 20px 0;
}
.box img{
    width: 16rem;
    border-radius: 5px;
    float: right;
}


@media (max-width: 1087px){

    
    .nav-sidebar{
        display: none;
    }

    .activenav-sidebar-responsive{
        display: block;
        position: relative;
        transition: 0.5s;
        overflow: hidden;
        
    }

    /*quarter-pound*/
    .quarter-pound-container{
        display: flex;
        flex-direction: row;
        justify-content: end;
    }
    .bars__menu{
        width: 30px;
        height: 30px; 
        cursor: pointer; 
    }

    .bars__menu span{
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
        margin-top: 6px;
        transform-origin: 0px 100%;
        transition: all 600ms;
    }

    /*quarter-pound animation*/
    .activeline1__bars-menu{
        transform: rotate(45deg) translate(-2px, 1px);
    }

    .activeline2__bars-menu{
        opacity: 0;
        margin-left: -30px;
    }

    .activeline3__bars-menu{
        transform: rotate(-45deg) translate(-4px, 2px);
    }

    /*others*/
    .course{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .box h3{
        text-align: center;
        order: 1;
    }
    .box img{
        margin-top: 1rem;
        order: 2;
    }
    .box .btn-edit{
        width: 50%;
        order: 3; 
        margin-top: 1rem; 
    }
    .box .btn-delete{
        width: 50%;
        order: 4; 
        margin-top: 1rem; 
        margin-left: 0;
    }
} 

   