/**Custom Properties**/
:root{
  --primario: #1073ba;
  --secundario: #00da55; 
  --text-color: #63686e; 
  --btn-color: #60388c; 
}
/**Globals**/
html{
  box-sizing: border-box;
  font-size: 62.5%; /*convertir 1rem en 10 pixeles, esto se usa para trabajar las fuentes con rem*/
}

*,*:before,*:after{
  box-sizing: inherit;
}

.main-container {
  display: flex;
  width: 100%;
  height: 100%;
}

/**Gradients**/
.degradado-verde{
    color: transparent;
    background: linear-gradient(to right, var(--primario) 0%, var(--secundario) 100%);
    -webkit-background-clip: text;
}
/**left container**/
.left {
  width: 65%;
  background-color: yellow;
  background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0,0.5)),url("../assets/images/claudio-testa.webp");
  min-height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/**right container**/
.right {
  width: 35%;
  background-image: linear-gradient(rgba(0,0,0, 0.9), rgba(0,0,0,1.3)),url("../assets/images/lines-png-transparent.png");
  background-color: #000810;
  /* background-color: #000; */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-text{
    font-size: 3rem;
    margin: 0;
}
.welcome-text{
    color: var(--text-color); 
}
input[type="email"]{
    margin-bottom: 1rem;
}

input{
    border-style: none;
    padding: 0.9rem;
    border-radius: 9px;
    width: 100%;
    color: rgb(151, 151, 151);
    background-color: rgb(16, 22, 34);
}

input:hover{
    background-color: rgb(11, 15, 23);;
}
.signup-prompt{
    color: var(--text-color); 
    cursor: pointer; 
}

.btn-login{
    padding: 1rem; 
    background: linear-gradient(81.02deg, rgb(250, 85, 96) -23.47%, rgb(177, 75, 244) 45.52%, rgb(77, 145, 255) 114.8%);
    font-weight: 900;
    color: #fff;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    width: 90%;
    transition: 0.6s;
}

.btn-login:hover{
   opacity: 0.8;
}
