/**Custom Properties**/
:root{
  --primario: #1073ba;
  --secundario: #00da55; 
  --text-color: #63686e; 
  --btn-color: #60388c; 
}
/**Globals**/
html{
  box-sizing: border-box;
  font-size: 62.5%; /*convertir 1rem en 10 pixeles, esto se usa para trabajar las fuentes con rem*/
}

*,*:before,*:after{
  box-sizing: inherit;
}

.main-container {
  display: flex;
  width: 100%;
  height: 100%;
}

/**Gradients**/
.degradado-verde{
    color: transparent;
    background: linear-gradient(to right, var(--primario) 0%, var(--secundario) 100%);
    -webkit-background-clip: text;
}
/**left container**/
.left {
  width: 65%;
  background-color: yellow;
  background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0,0.5)),url("../assets/images/claudio-testa.jpg");
  min-height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/**right container**/
.right {
  width: 35%;
  background-color: #000810;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.login-text{
    font-size: 3rem;
     
}
.welcome-text{
    color: var(--text-color); 
}
input[type="email"]{
    margin-bottom: 1rem;
}

input{
    border-style: none;
    padding: 0.9rem;
}
.signup-prompt{
    color: var(--text-color); 
    cursor: pointer; 
}

.btn-login{
    padding: 1rem; 
    background: var(--btn-color);
    border-style: none;
    border-radius: 2px;
    cursor: pointer;
}
