/**Custom Properties**/
:root{
    --primario: #1073ba;
    --secundario: #00da55; 
    --text-color: #63686e; 
    --btn-color: #60388c; 
  }
  /**Globals**/
  html{
    box-sizing: border-box;
    font-size: 62.5%; /*convertir 1rem en 10 pixeles, esto se usa para trabajar las fuentes con rem*/
  }
  
  *,*:before,*:after{
    box-sizing: inherit;
  }
  
  .main-container {
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  /**Gradients**/
  .degradado-verde{
      color: transparent;
      background: linear-gradient(to right, var(--primario) 0%, var(--secundario) 100%);
      -webkit-background-clip: text;
  }
  /**left container**/
  .left {
    width: 65%;
    background-color: #000810;
    background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0,0.5)),url("../assets/images/claudio-testa.webp");
    min-height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /**right container**/
  .right {
    width: 35%;
    background-image: linear-gradient(rgba(0,0,0, 0.9), rgba(0,0,0,1.3)),url("../assets/images/lines-png-transparent.png");
    background-color: #000810;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .right-container-form{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
  }
  
  .login-form{
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
  .login-text{
      text-align: center;
      font-size: 3rem;
      margin: 0;
      margin: 0 0 1rem 0; 
  }
  .welcome-text{
      color: var(--text-color); 
      margin: 0 0 2rem 0; 
      font-size: 1.3rem;
      text-align: center;
  }
  input[type="email"]{
      margin-bottom: 1rem;
  }
  
  .log-input{
    width: 70%;
    height: 100%;
    padding: 7px 15px;
    color: #fff;
    font-size: 15px;
    border-style: none;
    padding: 0.9rem;
    border-radius: 9px;
    width: 100%;
    color: rgb(151, 151, 151);
    margin-bottom: 1rem;
    background-color: rgb(16, 22, 34);
    border-radius: 9px
}
  
  .log-input:hover{
      background-color: rgb(11, 15, 23);;
  }
  .signup-prompt{
      color: var(--text-color); 
      cursor: pointer; 
      text-align: center;
      margin-bottom: 1rem;
  }
  
  .btn-login{
      padding: 1rem; 
      background: linear-gradient(81.02deg, rgb(250, 85, 96) -23.47%, rgb(177, 75, 244) 45.52%, rgb(77, 145, 255) 114.8%);
      font-weight: 900;
      color: #fff;
      border-style: none;
      border-radius: 5px;
      cursor: pointer;
      width: 70%;
      transition: 0.6s;
  }
  
  .btn-login:hover{
     opacity: 0.8;
  }
  
  .error-title{
      font-size: 1.35rem;
      margin: 1rem;
      color: #e33032;
  }
  
  .loading-bar {
      width: 100%;
      height: 13px;
      background-color: #ccc;
  }
  
  .loading-bar::after {
      content: '';
      display: block;
      width: 0;
      height: 100%;
      background-color: #000;
      transition: width 0.3s ease-in-out;
  }
  
  .loading-bar.loading::after {
      width: 100%;
  }
  
  .right-container-form-responsive{
      display: none;
  }
  
  @media (max-width: 900px) {
      .left{
        width: 100%;
        height: 100%;
        background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0,0.9)),url("../assets/images/claudio-testa.webp");
      }
      .right{
          display: none;
          
      }
  
      .right-container-form-responsive{
          display: block;
          height: 400px;
          border-radius: 10px;
          background-color: transparent;
          backdrop-filter: blur(2px);
          padding: 2rem;
      }
  
      .welcome-text{
          color: #fff;
      }
      .signup-prompt a{
          color: #fff;
      }
  
      .flex-form{
          display:flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
      }
    }