/**Custom Properties**/
:root{
    --primario: #1073ba;
    --secundario: #00da55;
    --text-color: #63686e;
}
/**Globals**/
html{
    box-sizing: border-box;
    font-size: 62.5%; /*convertir 1rem en 10 pixeles, esto se usa para trabajar las fuentes con rem*/
}

*,*:before,*:after{
    box-sizing: inherit;
}

.reg-main-container {
    display: flex;
    width: 100%;
    height: 100%;
}

/**Gradients**/
.reg-degradado-verde{
    color: transparent;
    background: linear-gradient(to right, var(--primario) 0%, var(--secundario) 100%);
    -webkit-background-clip: text;
}
/**left container**/
.reg-left {
    width: 65%;
    background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0,0.5)),url("../assets/images/alexander.jpg");
    min-height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

/**right container**/
.reg-right {
    width: 35%;
    background-color: #000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.reg-right-container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.register-text{
    font-size: 3rem;
    margin: 0;
}

.reg-welcome-text{
    color: var(--text-color);
}

input[type="email"]{
    margin-bottom: 1rem;
}

.reg-input-text{
    
}

.reg-input{
    border-style: none;
    padding: 0.9rem;
    border-radius: 9px;
    width: 100%;
    color: rgb(151, 151, 151);
    background-color: rgb(16, 22, 34);
}

input:hover{
    background-color: rgb(11, 15, 23);;
}
.signup-prompt{
    color: var(--text-color);
    cursor: pointer;
}

.reg-btn-login{
    padding: 1rem;
    background: linear-gradient(81.02deg, rgb(250, 85, 96) -23.47%, rgb(177, 75, 244) 45.52%, rgb(77, 145, 255) 114.8%);
    font-weight: 900;
    color: #fff;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    width: 90%;
    transition: 0.6s;
}

.btn-login:hover{
    opacity: 0.8;
}


