/**Custom Properties**/
:root{
    --primario: #1073ba;
    --secundario: #00da55;
    --text-color: #63686e;
}
/**Globals**/
html{
    box-sizing: border-box;
    font-size: 62.5%; /*convertir 1rem en 10 pixeles, esto se usa para trabajar las fuentes con rem*/
}

*,*:before,*:after{
    box-sizing: inherit;
}

.reg-main-container {
    display: flex;
    width: 100%;
    height: 100%;
}

/**Gradients**/
.reg-degradado-verde{
    color: transparent;
    background: linear-gradient(to right, var(--primario) 0%, var(--secundario) 100%);
    -webkit-background-clip: text;
}
/**left container**/
.reg-left {
    width: 65%;
    background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0,0.5)),url("../assets/images/alexander.webp");
    min-height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

/**right container**/
.reg-right {
    width: 35%;
    background-color: #000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.reg-right-container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.register-text{
    font-size: 3rem;
    margin: 0;
}

.reg-welcome-text{
    font-size: 1.3rem;
    margin:2rem 0;
    text-align: center;
    color: var(--text-color);
}

.reg-input{
    width: 70%;
    height: 100%;
    padding: 7px 15px;
    color: #fff;
    font-size: 15px;
    border-style: none;
    margin-bottom: 1rem;
    background-color: rgb(16, 22, 34);
    border-radius: 9px
}

.reg-input:hover{
    background-color: rgb(11, 15, 23);;
}
.reg-signup-prompt{
    color: var(--text-color);
    text-align: center;
    cursor: pointer;
    margin-bottom: 1rem;
}

.btn-register-reg{
    padding: 1rem;
    background: linear-gradient(81.02deg, rgb(250, 85, 96) -23.47%, rgb(177, 75, 244) 45.52%, rgb(77, 145, 255) 114.8%);
    font-weight: 900;
    color: #fff;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    width: 70%;
    transition: 0.6s;
}

.btn-register:hover{
    opacity: 0.8;
}

.reg-right-container-form-responsive{
    display: none;
}

@media (max-width: 900px) {
    .reg-left{
      width: 100%;
      height: 100%;
      background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0,0.9)),url("../assets/images/alexander.webp");
    }
    .reg-right{
        display: none;
    }

    .reg-right-container-form-responsive{
        display: block;
        height: 400px;
        border-radius: 10px;
        background-color: transparent;
        backdrop-filter: blur(2px);
        padding: 2rem;
    }

    .reg-welcome-text{
        color: #fff;
    }
    .reg-signup-prompt{
        color: #fff;
    }

    .reg-flex-form{
        text-align: center;
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btn-register-responsive{
        padding: 1rem;
        background: linear-gradient(81.02deg, rgb(250, 85, 96) -23.47%, rgb(177, 75, 244) 45.52%, rgb(77, 145, 255) 114.8%);
        font-weight: 900;
        color: #fff;
        border-style: none;
        border-radius: 5px;
        cursor: pointer;
        width: 70%;
        transition: 0.6s;
    }
  }


